/* src/components/styles/SideMenu.module.css */
.sideMenu {
  display: flex;
  flex-direction: column; /* Arrange children vertically */
  justify-content: space-between; /* Distribute space evenly, pushing last child (logout) to the bottom */
  width: 20vw; /* 20% of the viewport width */
  max-width: 300px; /* Ensure a maximum width for very large screens */
  min-width: 200px; /* Ensure a minimum width for very small screens */
  height: 100vh; /* Full height of the viewport */
  background-color: #3498db;
  color: #ecf0f1;
  position: fixed;
  top: 0;
  left: 0;
  padding: 2em; /* Padding relative to the font size */
  box-sizing: border-box; /* Includes padding in the total width */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.15); /* Add subtle shadow for depth */
  transition: transform 0.3s ease, background-color 0.3s ease; /* Smooth transition for hover effects */
}

.sideMenu:hover {
  background-color: #2980b9; /* Darken background on hover */
  transform: translateX(-10px); /* Slight shift for interaction feedback */
}

.sideMenu nav ul {
  list-style: none;
  padding: 0;
  margin: 0; /* Remove margins to ensure consistency */
  flex-grow: 1; /* Allow the nav list to grow, pushing the logout link down */
}

.sideMenu nav ul li {
  margin: 1.5em 0; /* Using em for relative margin */
  transition: transform 0.3s ease, color 0.3s ease; /* Add transition for hover effect */
}

.sideMenu nav ul li:hover {
  transform: translateX(10px); /* Subtle shift on hover */
}

.sideMenu nav ul li a {
  color: #ecf0f1;
  text-decoration: none;
  font-size: 1.125em; /* Equivalent to 18px if the base font size is 16px */
  display: block;
  padding: 0.5em 0; /* Padding to make it easier to click */
  transition: color 0.3s ease; /* Smooth color transition */
}

.sideMenu nav ul li a:hover {
  color: #ffffff; /* Brighten the text color on hover */
}

.logoutLink {
  margin-top: auto; /* Push the logout link to the bottom */
  color: #1a5176; /* A more neutral color */
  text-align: center; /* Center the logout link horizontally */
  font-weight: bold; /* Highlight the logout option */
  transition: color 0.3s ease, transform 0.3s ease; /* Add transition for hover effect */
}

.logoutLink:hover {
  color: #f39c12; /* Highlight with a different color on hover */
  transform: scale(1.1); /* Slightly increase size on hover */
}

.logoutLink a {
  text-decoration: none;
  color: inherit; /* Inherit the color from the parent */
  font-size: 1.125em;
  display: block;
  padding: 0.5em 0;
}

.logoutLink a:hover {
  text-decoration: none;
  color: inherit; /* Ensure text remains the same color on hover */
}
