/* src/pages/ContactsPage.module.css */
.contactsPage {
  padding: 2em;
}

.contactList {
  list-style: none;
  padding: 0;
}

.contactItem {
  display: flex;
  align-items: center; /* Center items vertically */
  padding: 1em;
  margin-bottom: 0.5em;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f7f7f7;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%; /* Make the div a circle */
  background-color: #3498db;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: bold;
  margin-right: 1rem;
}

.contactJid {
  font-weight: bold;
  display: block;
  color: #2c3e50;
  flex-grow: 1; /* Allow JID to take up available space */
}

.statusContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactStatus {
  font-size: 1rem;
  text-transform: capitalize;
  margin-bottom: 0.25rem;
}

.contactStatusMessage {
  font-size: 0.6rem;
  color: #7f8c8d;
}

.online {
  color: green;
}

.away {
  color: orange;
}

.offline {
  color: gray;
}

.dnd {
  color: red;
}
